@import "https://fonts.googleapis.com/css?family=Fira+Mono";

$banner-font: Fira Mono, Monaco, Lucida Console, Courier New, monospace;
$content-font: Arial, Helvetica, sans-serif;

@mixin flex-banner-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: $content-font;
}

#container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 4fr 20fr 1fr; 
  grid-template-areas: 
    "banner"
    "content"
    "footer";
}

.logo-url {
  text-decoration: none;
}

#banner { // TODO: Centre banner stuff, make banner responsive
  grid-area: "banner";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-family: $banner-font;
  #header {
    display: flex;
    flex-direction: column;
    .header-text {
      @include flex-banner-items;
    }
    .logos {
      @include flex-banner-items;
      i {
        color: white;
        margin-right: 16px;
      }
    }
  }
}

#content { // TODO: Move cards slightly upwards, make attribution text at the 
           // TODO: bottom not go past website
  grid-area: "content";
  background-color: white;
}

.card-body {
  .card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .github-logo {
      margin-bottom: 5px;
    }
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  .tag {
    margin: 4px;
    padding: 4px 10px;
    font-size: 80%;
    text-decoration: none;
    border-radius: 5px
  }
}

.other {
  .tags {
    position: absolute;
    bottom: 0px;
    margin-bottom: 16px;
  }
}

.python {
  background-color: #3776ab;
  color: #ffd343;
}
.sqlite {
  background-color: #003856;
  color: white;
}
.flask{
  background-color: black;
  color: white;
}
.js {
  background-color: #f7df1e;
  color: black;
}
.stats {
  background-color: #E52B50;
  color: white;
}
.c-sharp {
  background-color: #512bd4;
  color: white;
}
.html {
  background-color: #F06529;
  color: white;
}
.sass {
  background-color: #c69;
  color: white;
}
.bootstrap {
  background-color: #7409f6;
  color: white;
}
.webdev {
  background-color: #4979a0;
  color: white;
}
.placeholder {
  background-color: grey;
  color: white;
}

#footer {
  grid-area: "footer";
  display: flex;
  justify-content: center;
}
